<div class="container">
  <img src="assets/house.png" alt="" class="image" />
  <div class="details">
    <div class="header">
      <span class="header_place">El Olivar - San Isidro</span>
      <span class="header_sponsored">Sponsored</span>
    </div>
    <div class="main">
      <h2 class="main_title">De S/ 3335,000 a S/569,792</h2>
      <div class="main_details">
        <span>46 a 77m2</span>
        <span>2 bedrooms</span>
        <span> 2 bathdrooms</span>
      </div>
    </div>
    <div class="keys">
      <span class="key">Areas verdes</span>
      <span class="key">Piscina</span>
      <span class="key">Parrilla</span>
    </div>
    <div class="ubication">
      <span class="ubication_main">Av. Costanera N* 980</span>
      <span class="ubication_second">San Miguel, Lima</span>
    </div>
  </div>
  <div class="footer">
    <button mat-flat-button class="wspt-button">
      <i class="fa fa-whatsapp"></i>
    </button>
    <button mat-flat-button color="primary" class="contact-button">
      Contact
    </button>
  </div>
</div>
